button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: #000;
	border-radius: 0;
	background: #fff;
	color: #000;
	font-family: 'Fira Sans', sans-serif;
	font-size: 12px;
	font-size: .75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	&:hover {
		background: #000;
		color: #fff;
	}
	&:active,
	&:focus {
		background: #000;
		color: #fff;
	}
}