.site-header {
	background-color: #000;
	background-size: cover;
	@media screen and (min-width: 50em) {
		min-height: 4em;
	}
}
.site-logo {
	position: relative;
	a {
		position: absolute;
		z-index: 10;
		top: 1em;
		left: 1em;
		display: block;
		width: 2em;
		height: 2em;
		background: #000;
		border: 2px solid #fff;
		color: #fff;
		text-decoration: none;
		overflow: hidden;
		&:hover, 
		&:focus {
			outline: 2px solid #fff;
			.site-firstletter {
				background: #fff;
				color: #000;
			}
		}
	}// a
}// .site-logo

.site-firstletter {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
}

.site-branding {
	text-align: center;
}
.site-title {
	margin: 1.7em 1em 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 2.4em;
	font-weight: bold;
	line-height: 1.3em;
	color: #fff;
	text-transform: uppercase;
	word-break: break-word;
	a {
		text-decoration: none;
		color: inherit;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}// a
	&::after {
		display: block;
		content: "";
		margin: .7em auto 0;
		width: 3em;
		border-bottom: solid 1px #fff;
		opacity: .5;
	}// white line
}// .site-title
@media screen and (max-width: 30em){
	.site-title {
		font-size: 2em;
	}
}
.site-description {
	margin: 2em 2em 3em;
	font-size: 110%;
	color: #fff;
}